* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: auto;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

div {
    width: 70px;
    height: 70px;
    border: 2px solid black;
}